
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Patua+One&display=swap');
@media (min-width: 500px) {
    .container {
      padding: 40px;
      padding-top: 0px;
      padding-left: 20px;
      padding-right: 20px;
      background-color: rgba(172, 172, 172, 0.21);
    }
    #tittle{
      padding-top: 30px;
      padding: 20px;
      font-family: 'Alfa Slab One', cursive;
      text-align: justify;
      font-size: 45px;
    }
}

@media (max-width: 499px) {
    .container {
      padding: 20px;
      padding-top: 20px;
      background-color: rgba(4, 6, 46, 0.24);
      font-size: 15px;
    }
    #tittle{
      padding-top: 20px;
      padding: 10px;
      font-family: 'Alfa Slab One', cursive;
      text-align: center;
      font-size: 25px;
    }
}

.dark:hover, .white:hover{
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.profile-name{
  margin-top: 20px;
  font-size: 25px;
  font-family: serif;
  color: #2f2c3d;
}
.jumbotron{
  text-align: center;
  background-color: #84a3e6;
}
.profile-me{
  width: 120px;
  margin-top: 20px;
}
footer{
  background-color: #d7d7d7;
  padding: 25px;
}

p{
  font-family: 'Livvic', sans-serif;
}

.contact-me{
  text-align: center;
  padding: 30px;
  list-style-type: none;
}
li > .contact-me{
  padding: 15px;
  font-size: 25px;
}


.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

th{
  text-align: center;
}

td{
  padding: 100px;
}
.elements {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}
.row{
  padding: 30px;
}
/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-youtube21 {
  width: 2.5em;
}

.icon-youtube2 {
  width: 2.5087890625em;
}
